
<html lang='en'>
    <head>
        <title><%= @title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='styles.css'>
    </head>
    <body>
    	<div class="header-container">
            <h1 id="header"><a href="/">Tic Tac Toe Game</a></h1>
        </div>
        
        <div class="body-container">
    		<table id='results'>
<tr>
	<th>Player 1</th>
	<th>Player 2</th>
	<th>Winner</th>
	<th>Date/Time</th>
</tr><br>

<% names.each do |row| %>
<tr>
	<td> <%= row[0] %> </td>
	<td> <%= row[1] %> </td>
	<td> <%= row[2] %> </td>
	<td> <%= row[3] %> </td><br>
</tr>
<%end%>
</table><center><a href='/'>Play Again</a></center>
        </div>
		
    </body>
</html>